div {
  display:  grid;
  grid-template-columns: auto auto auto auto;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  font-family: "Copperplate", sans-serif;
}
.cube {
  grid-auto-rows: 32%;
  gap: 4px;
  height: 96vh;
  width: 96vh;
  border: 0px transparent;
}
.face {
  aspect-ratio: 1/1;
  gap: 3px;
  padding: 5px;
}
.empty {
  aspect-ratio: 1/1;
  gap: 3px;
  padding: 5px;
  border: 0px transparent;
}
.cell {
  aspect-ratio: 1/1;
  padding: 2px;
}
.cell-row {
border: 1px solid grey;
padding: 0px;
border-radius: 3px;
font-size: 60%;
text-align: center;
}
.white {
  background-color: white;
}
.blue {
  background-color: lightblue;
}
.orange {
  background-color: moccasin;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: pink;
}
.yellow {
  background-color: lightyellow;
}

.invisible {
  border: 0px transparent;
}

.filled {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 200%;
}

.invalid {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 250%;
  font-weight: bold;
  color: firebrick;
  background-color: indianred;
}

.new {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 250%;
  font-weight: bold;
  color: limegreen;
}

.completed {
  background-color: palegreen;
}