div {
  display:  grid;
  grid-template-columns: auto auto auto auto;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  font-family: "Copperplate", sans-serif;
}

.buttonA {
  background-color: green; 
  border-radius: 10px;
  transition-duration: 0.7s;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 125px;
  font-family: "Copperplate", sans-serif;

}

.buttonB {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.buttonB:hover {
  border-radius: 50px;
  background-color: #4CAF50;
  color: white;
}

.cube {
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: 30%;
  gap: 4px;
  height: 95vh;
  width: 97vw;
  border: 2px solid black;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border: 1px solid lightgray;
  margin: 3px;
}
.face {
  aspect-ratio: 1/1;
  gap: 3px;
  padding: 5px;
}
.empty {
  aspect-ratio: 1/1;
  gap: 3px;
  padding: 5px;
  border: 0px transparent;
}
.cell {
  aspect-ratio: 1/1;
  padding: 2px;
}
.cell-row {
border: 1px solid grey;
padding: 0px;
border-radius: 3px;
font-size: 60%;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
cursor: pointer;
}

.sections {
  grid-template-columns: auto;
  width: 97vw;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border: 1px solid lightgray;
  gap: 3px;
  margin: 3px;
  display: none;
}

.section {
  width: 58vw;
  gap: 3px;
  padding: 3px;
  border: 2px transparent;
}

.sub-section {
  gap: 3px;
  padding: 2px;
  border: 2px solid black;
}

.white {
  background-color: white;
}
.blue {
  background-color: lightblue;
}
.orange {
  background-color: moccasin;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: pink;
}
.yellow {
  background-color: lightyellow;
}

.invisible {
  border: 0px transparent;
}

.filled {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 200%;
}

.invalid {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 250%;
  font-weight: bold;
  color: firebrick;
  background-color: indianred;
}

.new {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 250%;
  font-weight: bold;
  color: limegreen;
}

.completed {
  background-color: palegreen;
}